/*准备工作*/
body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,input,form {
    margin: 0;
    padding: 0;
}
ul , ol , li {
    list-style: none;
}
a {
    text-decoration: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
/*header (头部工作)*/
.header {
    height: 35px;
    background-color: rgb(227, 228, 229);
}
.a_header {
    width: 1150px;
    height: 35px;    
    line-height: 35px;
    margin: auto;
    /* background-color: salmon; */
}
.b_header {
    width: 150px;
    height: 30px;
    /* border: 1px solid #000; */
}
.b_header > div {
    width: 73px;
    height: 35px;
    /* border: 1px solid #000; */
    /* margin-top: 2px; */
    font-size: 13px;
    line-height: 35px;
    color:#000;
}
#ig {
    color: red;
    z-index: 10;
}
.shoye-a {
    margin-right: 26px;
    color: #999;
    
}
.skt:hover {
    background-color: #fff;
    color: red;
}
.xialacaidan {
    width: 300px;
    height: 300px;
    background-color: aqua;
    margin-left: 13.6%;
}
._shoye-b {
    margin-left: 10px;
}
._shoye-c {
    color: #999;
}
.a_header > span {
    font-size: 12px;
    color: #999;
    margin-right: 5px;
}
.a_header > a {
    font-size: 13px;
    color: #999;
    margin-right: 12px;
}
._header-a {
    width: 70px;
}
/*广告*/
.guanggao {
    width: 1150px;
    height: 80px;
    /* border: 1px solid #000; */
    margin: auto;
    position: relative;
}
.guanggao  > img {
    width: 100%;
    height: 100%;
}
.guanggao1 {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #000;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 2px;
    right: 7px;
    cursor:pointer;
    opacity: 0.8;
}
/*main 主要内容*/
.main {
    width: 1150px;
    height: 100px;
    background: url(//misc.360buyimg.com/jdf/1.0.0/unit/global-header/5.0.0/i/jdlogo-201708-@1x.png) 0px 22px no-repeat;
    margin: auto;
}
.main-1 {
    width: 350px;
    height: 100px;
    /* border: 1px solid #000; */
    position: relative;
}
.main-2 {
    width: 530px;
    height: 77px;
    padding-top: 23px;
    /* border: 1px solid #000; */
    margin-left: 15px;
    position: relative;
}
.main-3 {
    width: 248px;
    height: 100px;
    /* border: 1px solid #000; */

}
.a_dianqi {
    width: 66px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #999;
    position: absolute;
    top: 42px;
    left: 259px;
    color: #999;
}
.main-h2 {
    font-weight: lighter;
    font-size: 20px;
    margin-left: 172px;
    line-height: 100px;
    color: #999;
}
.parent > input:nth-child(1) {
    width: 432px;
    height: 33px;
    border: 2px solid rgb(221, 69, 69);
    outline: none;
}
.parent > input:nth-child(2) {
    width: 94px;
    height: 36.5px;
    border: 2px solid rgb(221, 69, 69);
    background-color:  rgb(221, 69, 69);
    font-size: 17px;
    /* font-weight: bold; */
    color: #fff;
    outline: none;
}
.sosuodaohang {
    width: 300px;
    height: 15px;
    margin-top: 42px;
    /* border: 1px solid rebeccapurple; */
    font-size: 12px;
}
.sosuodaohang > a {
    margin-left: 5px;
    color: #999;
}
.sosuodaohang > a:nth-child(1) {
    color: red;
}
.sosuodaohang > a:hover {
    color: red;
}
.gowuche {
    width: 115px;
    height: 30px;
    border: 1px solid rgb(193, 193, 193);
    margin: 25px 0px 0px 75px;
    padding: 3px 0px 0px 35px;
    background: rgb(244, 238,238) url(//misc.360buyimg.com/jdf/1.0.0/unit/shoppingcart/5.0.0/i/settleup-@1x.png) 106px 7px no-repeat;
}
.gowuche > a {
    font-size: 12px;
    color: red;
}
.gowuche:hover {
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
}
#sosuokuang {
    width: 435px;
    height: 300px;
    background-color: #fff;
    position: absolute;
    top: 60px;
    display: none;
    z-index: 10;
}
#sosuokuang > li {
    height: 25px;
    line-height: 25px;
    padding-left: 5%;
    color: #999;
    font-size: 13px;
    cursor: pointer;
    
}
#sosuokuang > li > p {
    /* font-size: 13px; */
    margin-right: 15px;
}
#sosuokuang > li:hover {
    background-color: pink;
    
}
/*页面的主导航部分*/
.nav {
    width: 1150px;
    height: 40px;
    background-color: rgb(251, 251, 251);
    margin: auto;
}
.daohang-a {
    width: 213px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color: rgb(221, 69, 69);
}
.nav > span {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: #999;
}
.nav > a {
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    color: #000;
}
.nav > a:hover {
    color: #999;
}
/*包裹内容*/
#box {
    background-color: rgb(244, 238,238);
}
/* .a-banqu {
    width: 1150px;
    height: 400px;
} */
/*轮播图部分*/
#kuang {
    width: 930px;
    height: 370px;
    /* background-color: saddlebrown; */
    float: right;
    position: relative;
}
.zuokuang {
    background-color: #fff;
}
.imgBox > li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 1s linear;
    opacity: 0;
  }

 .imgBox> li > img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.pointBox {
    width: 200px;
    /* height: 16px; */
    /* background-color: rgba(0, 0, 0, .4); */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
/* .zuoyi {
    width: 25px;
    height: 40px;
    background-color: rgb(51, 255, 0);
    cursor: pointer;
    opacity: 0.4;
    border-radius: 0px 10px 10px 0px;
    float: left;
} */
/* .yuyi {
    width: 25px;
    height: 40px;
    background-color: rgb(21, 255, 0);
    cursor: pointer;
    opacity: 0.4;
    border-radius: 10px 0px 0px 10px;
    float: right;
} */
.leftRightBox {
    width: 100%;
    height: 40px;
    /* background-color: blue; */
    position: absolute;
    top: 50%;
}
.pointBox > li {
    width: 21px;
    height: 6px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
  }
.pointBox > li.active {
    background-color: #000;
}
.imgBox > li.active {
    opacity: 1;
}
.imgBox {
    position: relative;
}
.leftRightBox > a {
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 22px;
    background-color: rgba(0, 0, 0, .4);
  }
.zuoul {
    width: 190px;
    height: 500px;
    /* background-color: salmon; */
    margin: auto;
}
.zuoli {
    width: 190px;
    height: 70px;
    /* border: 1px solid #000; */
}
.zuoul > li {
    width: 190px;
    height: 65px;
    /* border: 1px solid #000; */
    padding-top: 5px;
}
.zuoul > li > a {
    font-size: 13px;
    font-weight: bold;
    color: #333;
    float: left;
    margin: 3px 0px 0px 5px;
    cursor: pointer;


}
.zuoul > li > a:hover {
    color: rgb(221, 69, 69);
}
.zuoul > li > img {
    float: left;
}
.lilimiande {
    width: 190px;
    height: 40px;
    /* background-color: seagreen; */
    margin-top: 27px;
}
.lilimiande > a {
    font-size: 12px;
    color: #666;
    font-weight: 600;
}
.lilimiande > a:hover {
    color: rgb(221, 69, 69);

}
.xiakuang {
    width: 930px;
    height: 123px;
    /* background-color: rgb(221, 69, 69); */
    float: right;
    margin-top: 7px;
}
.xiali {
    width: 227px;
    height: 123px;
    float: left;
    /* border: 1px solid #000; */
    /* margin-left: 5px; */
}
.xiali > img {
    width: 100%;
    height: 100%;
}
.xiakuangul > .xiali:nth-child(2) {
    margin-left: 7px;
}
.xiakuangul > .xiali:nth-child(3) {
    margin-left: 7px;
}
.xiakuangul > .xiali:nth-child(4) {
    margin-left: 7px;
}
/*选项卡部分*/
.biaoti {
    width: 1150px;
    height: 60px;
    background:  url("//img13.360buyimg.com/aotucms/jfs/t1/30073/11/1518/5252/5c4ecb46E9b68f6be/d50b95e60c885a4a.png");
    margin: auto;
    margin-top: 80px;
}
.xuanxiangka {
    width: 1150px;
    height: 350px;
    /* background-color: #fff; */
    margin:auto;
    margin-top: 30px;
}
.xuanxiangka > ul {
    width: 1150px;
    height: 55px;
    /* background-color: salmon; */
}

.xuanxiangka > ul > li.active {
    background-color: rgb(221, 69, 69);
}

.xuanxiangka > ul > li {
    width: 143.5px;
    height: 55px;
    float: left;
    /* font-weight: bold; */
    font-size: 14px;
    text-align: center;
    line-height: 55px;
    color: #333;
    cursor: pointer;
    background-color: #fff;
}
#liabc {
    background-color: rgb(221, 69, 69);
}
.xuanxiangka > ol {
    width: 1150px;
    height: 285px;
    background-color: springgreen;
    margin-top: 10px;
    position: relative;
}

.xuanxiangka > ol > li.active {
    display: block;
}

.xuanxiangka > ol > li {
    width: 1150px;
    height: 285px;
    background-color:#fff;
    position: absolute;
    display: none;
}

#diyi {
    background-color: yellowgreen;
}
.xuanxiangka > ol > li > ul > li {
    text-align: center;
    width: 230px;
    height: 270px;
    padding-top: 15px;
    /* background: #fff; */
    /* overflow: hidden; */
}
.xuanxiangka > ol > li > ul > li > p {
    font-size: 12px;
}
.xuanxiangka > ol > li > ul > li > p > span{
    font-size: 19px;
    color: rgb(221, 8, 4);
    display: block;
    margin: 11px 83px 0px 0;
}
.xuanxiangka > ol > li > ul > li > img:hover {
    animation: all 2s linear ;
	transform: translateX(-8px);
}