/*准备工作*/
body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,input,form {
    margin: 0;
    padding: 0;
}
ul , ol , li {
    list-style: none;
}
a {
    text-decoration: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
/*header (头部工作)*/
.header {
    height: 35px;
    background-color: rgb(227, 228, 229);
}
.a_header {
    width: 1150px;
    height: 35px;    
    line-height: 35px;
    margin: auto;
    /* background-color: salmon; */
}
.b_header {
    width: 150px;
    height: 30px;
    /* border: 1px solid #000; */
}
.b_header > div {
    width: 73px;
    height: 35px;
    /* border: 1px solid #000; */
    /* margin-top: 2px; */
    font-size: 13px;
    line-height: 35px;
    color:#000;
}
#ig {
    color: red;
    z-index: 10;
}
.shoye-a {
    margin-right: 26px;
    color: #999;
    
}
.skt:hover {
    background-color: #fff;
    color: red;
}
.xialacaidan {
    width: 300px;
    height: 300px;
    background-color: aqua;
    margin-left: 13.6%;
}
._shoye-b {
    margin-left: 10px;
}
._shoye-c {
    color: #999;
}
.a_header > span {
    font-size: 12px;
    color: #999;
    margin-right: 5px;
}
.a_header > a {
    font-size: 13px;
    color: #999;
    margin-right: 12px;
}
._header-a {
    width: 70px;
}
/*广告*/
.guanggao {
    width: 1150px;
    height: 80px;
    /* border: 1px solid #000; */
    margin: auto;
    position: relative;
}
.guanggao  > img {
    width: 100%;
    height: 100%;
}
.guanggao1 {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #000;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 2px;
    right: 7px;
    cursor:pointer;
    opacity: 0.8;
}
/*main 主要内容*/
.main {
    width: 1150px;
    height: 100px;
    background: url(//misc.360buyimg.com/jdf/1.0.0/unit/global-header/5.0.0/i/jdlogo-201708-@1x.png) 0px 22px no-repeat;
    margin: auto;
}
.main-1 {
    width: 350px;
    height: 100px;
    /* border: 1px solid #000; */
    position: relative;
}
.main-2 {
    width: 530px;
    height: 77px;
    padding-top: 23px;
    /* border: 1px solid #000; */
    margin-left: 15px;
    position: relative;
}
.main-3 {
    width: 248px;
    height: 100px;
    /* border: 1px solid #000; */

}
.a_dianqi {
    width: 66px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #999;
    position: absolute;
    top: 42px;
    left: 259px;
    color: #999;
}
.main-h2 {
    font-weight: lighter;
    font-size: 20px;
    margin-left: 172px;
    line-height: 100px;
    color: #999;
}
.parent > input:nth-child(1) {
    width: 432px;
    height: 33px;
    border: 2px solid rgb(221, 69, 69);
    outline: none;
}
.parent > input:nth-child(2) {
    width: 94px;
    height: 36.5px;
    border: 2px solid rgb(221, 69, 69);
    background-color:  rgb(221, 69, 69);
    font-size: 17px;
    /* font-weight: bold; */
    color: #fff;
    outline: none;
}
.sosuodaohang {
    width: 300px;
    height: 15px;
    margin-top: 42px;
    /* border: 1px solid rebeccapurple; */
    font-size: 12px;
}
.sosuodaohang > a {
    margin-left: 5px;
    color: #999;
}
.sosuodaohang > a:nth-child(1) {
    color: red;
}
.sosuodaohang > a:hover {
    color: red;
}
.gowuche {
    width: 115px;
    height: 30px;
    border: 1px solid rgb(193, 193, 193);
    margin: 25px 0px 0px 75px;
    padding: 3px 0px 0px 35px;
    background: rgb(244, 238,238) url(//misc.360buyimg.com/jdf/1.0.0/unit/shoppingcart/5.0.0/i/settleup-@1x.png) 106px 7px no-repeat;
}
.gowuche > a {
    font-size: 12px;
    color: red;
}
.gowuche:hover {
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
}
#sosuokuang {
    width: 435px;
    height: 300px;
    background-color: #fff;
    position: absolute;
    top: 60px;
    display: none;
}
#sosuokuang > li {
    height: 25px;
    line-height: 25px;
    padding-left: 5%;
    color: #999;
    font-size: 13px;
    cursor: pointer;
    
}
#sosuokuang > li > p {
    /* font-size: 13px; */
    margin-right: 15px;
}
#sosuokuang > li:hover {
    background-color: pink;
    
}